@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 1320px;
  padding: 0px 10px;
  margin: 0px auto;
}

.margin{
  margin-bottom: 6rem;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .clip-custom-shape {
    clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
  }
}